.navbar-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
}
.img-icon {
  height: 20px;
  width: 20px;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.nav-link {
  margin-right: 20px;
}
.nav-link-dark {
  color: #ffffff;
  margin-right: 20px;
  text-decoration: none;
}
.navbar-container-dark {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
}
